<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devis <?= $company['nom'] ?> - <?= $devis['reference'] ?></title>
</head>
<body class="A4">

<style>
    @page { margin: 0 }
    body { margin: 0 }
    .sheet {
        margin: 0;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        page-break-after: always;
    }

    /** Paper sizes **/
    body.A3               .sheet { width: 297mm; height: 419mm }
    body.A3.landscape     .sheet { width: 420mm; height: 296mm }
    body.A4               .sheet { width: 210mm; height: 296mm }
    body.A4.landscape     .sheet { width: 297mm; height: 209mm }
    body.A5               .sheet { width: 148mm; height: 209mm }
    body.A5.landscape     .sheet { width: 210mm; height: 147mm }
    body.letter           .sheet { width: 216mm; height: 279mm }
    body.letter.landscape .sheet { width: 280mm; height: 215mm }
    body.legal            .sheet { width: 216mm; height: 356mm }
    body.legal.landscape  .sheet { width: 357mm; height: 215mm }

    /** Padding area **/
    .sheet.padding-10mm { padding: 10mm }
    .sheet.padding-15mm { padding: 15mm }
    .sheet.padding-20mm { padding: 20mm }
    .sheet.padding-25mm { padding: 25mm }

    /** For screen preview **/
    @media screen {
        body { background: #e0e0e0 }
        .sheet {
            background: white;
            box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
            margin: 5mm auto;
        }
    }

    /** Fix for Chrome issue #273306 **/
    @media print {
        body.A3.landscape { width: 420mm }
        body.A3, body.A4.landscape { width: 297mm }
        body.A4, body.A5.landscape { width: 210mm }
        body.A5                    { width: 148mm }
        body.letter, body.legal    { width: 216mm }
        body.letter.landscape      { width: 280mm }
        body.legal.landscape       { width: 357mm }
    }

    .sheet {
        padding: 3.5mm;
    }

    @import "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700";

    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    total,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block
    }

    body {
        line-height: 1
    }

    ol,
    ul {
        list-style: none
    }

    blockquote,
    q {
        quotes: none
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none
    }

    table {
        border-collapse: collapse;
        border-spacing: 0
    }

    body {
        /*height: 840px;*/
        /*width: 592px;*/
        margin: auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px
    }

    strong {
        font-weight: 700
    }

    #container {
        position: relative;
        padding: 4%
    }

    #header {
        height: 80px
    }

    #header > #reference {
        float: right;
        text-align: right
    }

    #header > #reference h3 {
        margin: 0
    }

    #header > #reference h4 {
        margin: 0;
        font-size: 85%;
        font-weight: 600
    }

    #header > #reference p {
        margin: 0;
        margin-top: 2%;
        font-size: 85%
    }

    #header > #logo {
        width: 50%;
        float: left
    }

    #fromto {
        height: 160px
    }

    #fromto > #from,
    #fromto > #to {
        width: 45%;
        min-height: 90px;
        margin-top: 30px;
        font-size: 85%;
        padding: 1.5%;
        line-height: 120%
    }

    #fromto > #from {
        float: left;
        width: 45%;
        background: #efefef;
        margin-top: 30px;
        font-size: 85%;
        padding: 1.5%
    }

    #fromto > #to {
        float: right;
        border: solid grey 1px
    }

    #items {
        margin-top: 10px
    }

    #items > p {
        font-weight: 700;
        text-align: right;
        margin-bottom: 1%;
        font-size: 65%
    }

    #items > table {
        width: 100%;
        font-size: 85%;
        border: solid grey 1px
    }

    #items > table th:first-child {
        text-align: left
    }

    #items > table th {
        font-weight: 400;
        padding: 1px 4px
    }

    #items > table td {
        padding: 1px 4px
    }

    #items > table th:nth-child(2),
    #items > table th:nth-child(4) {
        width: 45px
    }

    #items > table th:nth-child(3) {
        width: 60px
    }

    #items > table th:nth-child(5) {
        width: 80px
    }

    #items > table tr td:not(:first-child) {
        text-align: right;
        padding-right: 1%
    }

    #items table td {
        border-right: solid grey 1px
    }

    #items table tr td {
        padding-top: 3px;
        padding-bottom: 3px;
        height: 10px
    }

    #items table tr:nth-child(1) {
        border: solid grey 1px
    }

    #items table tr th {
        border-right: solid grey 1px;
        padding: 3px
    }

    #items table tr:nth-child(2) > td {
        padding-top: 8px
    }

    #summary {
        height: 170px;
        margin-top: 30px
    }

    #summary #note {
        float: left;
        width: 66%;
    }

    #summary #note h4 {
        font-size: 10px;
        font-weight: 600;
        font-style: italic;
        margin-bottom: 4px
    }

    #summary #note p {
        font-size: 10px;
        font-style: italic
    }

    #summary #total table {
        font-size: 85%;
        width: 260px;
        float: right
    }

    #summary #total table td {
        padding: 3px 4px
    }

    #summary #total table tr td:last-child {
        text-align: right
    }

    #summary #total table tr:nth-child(3) {
        background: #efefef;
        font-weight: 600
    }

    #footer {
        margin: auto;
        position: absolute;
        left: 4%;
        bottom: 4%;
        right: 4%;
        border-top: solid grey 1px
    }

    #footer p {
        margin-top: 1%;
        font-size: 65%;
        line-height: 140%;
        text-align: center
    }
</style>

<?php
//die(var_dump($devis));
?>

<div class="sheet">
    <div id="header">
        <div id="logo">
            <img src="/logo.png" style="width: 110px">
        </div>
        <div id="reference">
            <h3><strong>Devis</strong></h3>
            <h4>Réf. : <?= $devis['reference'] ?></h4>
            <p>Date facturation : <?= $devis['date'] ?></p>
            <p>Devis valable jusqu'au : <?= $devis['date_fin_validite'] ?></p>
        </div>
    </div>

    <div id="fromto">
        <div id="from">
            <p>
                <strong><?= $company['nom'] ?></strong><br>
                <?= $company['adresse']['rue_numero'] . ' ' . $company['adresse']['rue'] ?><br>
                <?= $company['adresse']['cp'] . ' ' . $company['adresse']['ville'] ?><br><br>
                Tél. : <?= $company['tel'] ?><br>
                Email : <?= $company['email'] ?> <br>
                Web : <?= $company['web'] ?>
            </p>
        </div>
        <div id="to">
            <p>
                <strong><?= ucfirst($devis['nom_client']) . ' ' . ucfirst($devis['prenom_client']) ?></strong><br>
                <?= $devis['numero_rue_client'] . ' ' . $devis['rue_client'] ?><br>
                <?= $devis['cp_client'] . ' ' . $devis['ville_client'] ?>
            </p>
        </div>
    </div>

    <div id="items">
        <p>Montants exprimés en Euros</p>
        <table>
            <tr>
                <th>Désignation</th>
                <th>Unité</th>
                <th>TVA</th>
                <th>P.U. HT</th>
                <th>Qté</th>
                <th style="width: 90px;">Total HT</th>
            </tr>
            <?php
            /** @var array $products */
            /** @var int $maxsize */
            $incr = 0;
            foreach ($products as $name => $module) if ($incr < $maxsize) { ?>
                <tr>
                    <td>Module : <?= $name ?></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <?php foreach ($module as $composant) if ($incr < $maxsize) { ?>
                    <tr>
                        <td>&nbsp;-&nbsp;<?= $composant['nom'] ?></td>
                        <td><?= $composant['colisage'] . ' ' . $composant['unite_colisage'] ?></td>
                        <td><?= $composant['taux'] ?></td>
                        <td><?= $composant['prix_ht'] ?></td>
                        <td><?= $composant['quantite'] ?></td>
                        <td><?= $composant['prix_ht'] * $composant['quantite'] ?></td>
                    </tr>
                <?php $incr++; } ?>
            <?php $incr++; } ?>
        </table>
    </div>

    <?php /** @var TYPE_NAME $size */
    if ($size < $maxsize || true) { ?>
        <div id="summary">
            <div id="note">
                <h4>Note :</h4>
                <p><?= $devis['note_publique'] ?></p>
            </div>
            <div id="total">
                <table border="1">
                    <tr>
                        <td>Total HT</td>
                        <td><?= $totalHt ?></td>
                    </tr>
                    <?php /** @var array $tvaList */
                    foreach ($tvaList as $k => $v): ?>
                        <tr>
                            <td>Total TVA <?= $k ?>%</td>
                            <td><?= number_format((float)$v, 2, '.', '') ?></td>
                        </tr>
                    <?php endforeach; ?>
                    <tr>
                        <td>Total TTC</td>
                        <td><?= $totalTtc ?></td>
                    </tr>
                </table>
            </div>
        </div>
    <?php } ?>

    <div id="footer">
        <p><?= $company['status'] ?> - Capital de <?= $company['capital'] ?> € - SIRET: <?= $company['siret'] ?><br>
            NAF-APE: <?= $company['naf_ape'] ?> - Num. TVA: <?= $company['numero_tva'] ?></p>
    </div>
</div>

</body>
</html>